html	{
	font-family: Arial, Helvetica, sans-serif;
}

body	{
	background-color: #2e3440;
}

header	{
	background-color: #d8dee9;
	width: 100%;
}

header img	{

}

nav	{
	color: black;	
}
nav li 	{
	text-decoration: none;
}
section	{

}

main	{

}

article	{

}

footer	{

}
